body
{


  /* ENHANCEMENT */
  background-image: url('bg1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 80%;
	padding: 10px;
	background-color: #F7FFF7;
	border-radius: 20px;
	border: 1px solid #403F4C;
	-webkit-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
}


input[type=text],
input[type=password]
{
	width: 100%;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-bottom: 20px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #02B28C;
	background-color: #e9f3e9;
	color: #055D81;
}

input[type=submit]
{
	width: 100%;
	background-color: #ff4949;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #ff0000;
}
input[type=submit] > .Facebook
{
	background-color: #8b9dc3;
}
 input[type=submit]:hover > .Facebook
{
	background-color: #3b5998;
}
